@charset "UTF-8";
.sec__title {
  text-align: center;
  font-family: "Poller One", serif;
  font-size: 2.5rem;
  color: #333333;
  margin-bottom: 120px;
}
.sec__title span {
  display: block;
  font-size: 14px;
  color: #d00;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 800;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.main-visual {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url("../img/Gemini_Generated_Image_ejppnqejppnqejpp.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__info {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 30px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
}
.header__info .header__year {
  font-size: 1.25rem;
  font-family: "M PLUS 1", sans-serif;
}
.header__info .header__date {
  display: flex;
  font-size: 1.5rem;
  align-items: baseline;
  gap: 15px;
}
.header__info .header__date span {
  font-size: 1rem;
  margin: 0 4px;
}
.header__info .header__time {
  font-size: 1.5rem;
}
.header__info .header__place {
  font-size: 1.5rem;
  font-family: "M PLUS 1", sans-serif;
}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #b03030;
  border-radius: 2px;
}

.btn-free {
  display: inline-block;
  background-color: #f0e640;
  color: #000;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid #000;
  font-family: "M PLUS 1", sans-serif;
}

.main-program {
  padding: 100px 0;
  background-color: #f0f7ff;
}
.main-program .main-event {
  padding: 100px 0;
  background-color: #f0f7ff;
  overflow: hidden;
}
.main-program .event-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 180px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.main-program .event-item:nth-child(even) {
  flex-direction: row-reverse;
}
.main-program .event-item:nth-child(even) .event-item__img-wrapper {
  margin-left: -80px;
  margin-right: 0;
}
.main-program .event-item__img-wrapper {
  position: relative;
  width: 700px;
  flex-shrink: 0;
  margin-right: -100px;
  z-index: 50;
}
.main-program .event-item__photo {
  position: relative;
  width: 100%;
  border: 10px solid #fff;
  box-shadow: 4px 4px 10px 5px rgba(51, 51, 51, 0.5);
  transform: rotate(2deg);
  z-index: 2;
}
.main-program .event-item__text-wrapper {
  position: relative;
  width: 380px;
  transform: rotate(-2deg);
  z-index: 10;
}
.main-program .event-item:nth-child(even) {
  flex-direction: row-reverse;
}
.main-program .event-item:nth-child(even) .event-item__img-wrapper {
  margin-left: -100px;
  margin-right: 0;
}
.main-program .event-item:nth-child(even) .event-item__img-wrapper .event-item__photo {
  transform: rotate(-2deg);
}
.main-program .event-item:nth-child(even) .event-item__text-wrapper {
  transform: rotate(2deg);
}
.main-program .event-item:nth-child(even) .event-item__text-shadow {
  left: 40px;
}
.main-program .event-item__text-shadow {
  position: absolute;
  top: 20px;
  left: -40px;
  width: 100%;
  height: 100%;
  background: transparent;
  background-image: radial-gradient(#0A215D 4px, transparent 4px);
  background-size: 12px 12px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  z-index: 5;
}
.main-program .event-item__text {
  width: 100%;
  position: relative;
  padding: 100px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  z-index: 10;
}
.main-program .event-item__text-inner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  text-align: left;
}
.main-program .event-item__text-inner h3 {
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 15px;
  font-family: "Chakra Petch", sans-serif;
}
.main-program .event-item__text-inner p {
  font-size: 1rem;
  color: #333333;
  line-height: 1.8;
  margin-bottom: 20px;
  font-family: "Zen Maru Gothic", sans-serif;
}
.main-program .more-btn {
  display: inline-block;
  padding: 5px 20px;
  background-color: #d00;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  font-size: 12px;
  transition: 0.3s;
}
.main-program .more-btn:hover {
  opacity: 0.8;
}
.main-program .pick-up {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.main-program .pick-up__deco {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.main-program .pick-up__deco--left {
  width: 700px;
  height: auto;
  bottom: 0;
  right: 50%;
  margin-right: 400px;
  z-index: 3;
}
.main-program .pick-up__deco--right {
  width: 700px;
  height: auto;
  top: 30px;
  right: auto;
  left: 50%;
  margin-left: 400px;
  z-index: 3;
}
.main-program .pick-up__container {
  position: relative;
  z-index: 2;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.main-program .pick-up__container .asirai01 {
  width: 30%;
  background-image: url("../img/asirai-lightblue");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 30;
}
.main-program .pick-up__grid {
  background: #fff;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
  justify-content: center;
  padding: 50px;
  border-radius: 100px;
  margin-top: 100px;
  position: relative;
  z-index: 5;
}
.main-program .pick-up__grid::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #fff;
  background-image: radial-gradient(#eee 2px, transparent 2px);
  background-size: 20px 20px;
  z-index: 1;
}
.main-program .pick-up__item {
  width: calc(50% - 15px);
  background: #fff;
  box-shadow: 4px 4px 10px 5px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 10;
}
.main-program .pick-up__img-wrapper {
  position: relative;
  padding: 15px 15px 0;
}
.main-program .pick-up__img-wrapper img {
  width: 100%;
  height: 400px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-program .pick-up .label {
  position: absolute;
  top: -30px;
  left: -45px;
  width: 150px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #fff;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 10px;
  font-size: 0.9rem;
  z-index: 5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.main-program .pick-up .label__textblue {
  position: absolute;
  right: 15px;
  bottom: 25px;
}
.main-program .pick-up .label__textorange {
  position: absolute;
  right: 30px;
  bottom: 25px;
}
.main-program .pick-up .label span {
  font-size: 0.8rem;
  font-weight: normal;
}
.main-program .pick-up .label--blue {
  background-color: #329CF8;
}
.main-program .pick-up .label--orange {
  background-color: #FF8737;
}
.main-program .pick-up__content {
  padding: 20px;
}
.main-program .pick-up__content .event-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}
.main-program .pick-up__content .event-name--blue {
  color: #329CF8;
}
.main-program .pick-up__content .event-name--orange {
  color: #FF8737;
}
.main-program .pick-up__content .tag-list {
  display: flex;
  gap: 10px;
  font-size: 10px;
  color: #999;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}
.main-program .pick-up__content .tag-list li {
  white-space: nowrap;
  flex-shrink: 0;
}
.main-program .more-link {
  display: inline-block;
  margin-top: 50px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  position: relative;
  z-index: 2;
  transition: color 0.3s ease, transform 0.3s ease;
}
.main-program .more-link:hover {
  color: #d00;
  transform: scale(1.1);
}

.after-party {
  background-color: #fff;
  padding: 100px 20px;
  overflow: hidden;
  position: relative;
}
.after-party__deco-bg {
  position: absolute;
  pointer-events: none;
  height: auto;
}
.after-party__deco-bg--right {
  width: 700px;
  top: -50px;
  z-index: 3;
  left: 50%;
  margin-left: 300px;
}
.after-party__deco-bg--left {
  width: 600px;
  height: auto;
  bottom: -150px;
  right: 50%;
  margin-right: 250px;
}
.after-party .after-party__deco {
  position: absolute;
  top: 200px;
  width: 200px;
  z-index: 5;
  left: 50%;
  margin-left: 300px;
  right: auto;
}
.after-party__inner {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.after-party__card {
  background-color: #EDF4FB;
  border-radius: 100px;
  padding: 80px 40px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.after-party__card::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #EDF4FB;
  background-image: radial-gradient(#fff 2px, transparent 2px);
  background-size: 20px 20px;
}
.after-party__card .after-party__wrapper {
  width: 100%;
  position: relative;
  z-index: 3;
}
.after-party__card .after-party__wrapper .sec__title {
  margin-bottom: 80px;
}
.after-party__card .after-party__wrapper .after-party__lead {
  font-size: 1.5rem;
  font-family: "Zen Maru Gothic", sans-serif;
  line-height: 1.8;
  color: #555;
  margin-bottom: 40px;
}
.after-party__card .after-party__wrapper .after-party__slider {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.after-party__card .after-party__wrapper .after-party__slider .after-party__slide-item {
  text-align: left;
  outline: none;
}
.after-party__card .after-party__wrapper .after-party__slider .after-party__image {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.after-party__card .after-party__wrapper .after-party__slider .after-party__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.after-party__card .after-party__wrapper .after-party__slider .after-party__caption {
  margin-top: 15px;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 1.5rem;
  color: #666;
  font-weight: bold;
}
.after-party__card .after-party__wrapper .after-party__slider .slick-dots {
  bottom: 0;
}
.after-party__card .after-party__wrapper .after-party__slider .slick-dots li {
  margin: 0 5px;
  width: 12px;
  height: 12px;
}
.after-party__card .after-party__wrapper .after-party__slider .slick-dots li button {
  width: 12px;
  height: 12px;
  padding: 0;
}
.after-party__card .after-party__wrapper .after-party__slider .slick-dots li button::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  opacity: 1;
}
.after-party__card .after-party__wrapper .after-party__slider .slick-dots li.slick-active button::before {
  background: #007bff;
}

.after-party__bottom-obi {
  width: 100%;
  line-height: 0;
}
.after-party__bottom-obi img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

.access {
  font-style: normal;
  background-color: #A2D4FF;
  position: relative;
  padding-block: 160px;
}
.access__card {
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 3%;
  padding-top: 80px;
  padding-bottom: 160px;
  position: relative;
}
.access__card::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #fff;
  background-image: radial-gradient(#eee 2px, transparent 2px);
  background-size: 20px 20px;
}
.access__wrapper {
  position: relative;
  z-index: 10;
}
.access__inner {
  display: flex;
  gap: 20px;
}
.access__inner iframe {
  width: 60%;
  height: 350px;
}
.access__inner dl {
  width: 40%;
  font-size: 10px;
  font-style: normal;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: medium;
}
.access__inner dl dt {
  position: relative;
  padding-left: 10px;
  /* dtの前に黒四角を配置 */
}
.access__inner dl dt::before {
  position: absolute;
  content: "■";
  left: 0;
  color: #333; /* 記号の色 */
}
.access__inner dl dd {
  margin-bottom: 15px;
}
.access h2 {
  font-style: normal;
  margin-bottom: 60px;
}
.access h3 {
  font-style: normal;
  margin-bottom: 10px;
}
.access__redcorn1 {
  position: absolute;
  top: 8%;
  left: 33%;
  z-index: 2;
}
.access__ashiraiblue {
  position: absolute;
  z-index: 2;
  top: 5%;
  right: 0;
  width: auto;
  height: 450px;
}
.access__car1 {
  position: absolute;
  z-index: 2;
  top: 9%;
  right: 10%;
  width: 280px;
}
.access__redcorn2 {
  position: absolute;
  z-index: 2;
  top: 12%;
  right: 10%;
  transform: rotate(-80deg);
  width: 60px;
}
.access__redcorn3 {
  position: absolute;
  z-index: 2;
  top: 18%;
  right: 5%;
  transform: rotate(-10deg);
  width: 120px;
}
.access__car2 {
  position: absolute;
  z-index: 3;
  bottom: 2%;
  left: 9%;
  width: 450px;
}
.access__car2parts1 {
  position: absolute;
  z-index: 2;
  bottom: 120px;
  left: 20px;
}
.access__car2parts2 {
  position: absolute;
  z-index: 2;
  bottom: 13%;
  left: 0%;
  width: 230px;
}
.access__car2parts3 {
  position: absolute;
  z-index: 2;
  bottom: 33%;
  left: 3%;
}
.access__people {
  position: absolute;
  z-index: 2;
  bottom: 6%;
  right: 8%;
}

.faq {
  background-color: #EDF4FB;
  background-image: url(../img/access8.png);
  background-position: center -10px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 0 0 50px 50px;
  overflow: hidden;
  padding-bottom: 200px;
  position: relative;
  z-index: 2;
}
.faq h2 {
  padding-top: 500px;
}
.faq__q {
  max-width: 1000px;
  margin-inline: auto;
  background-color: #C6E1FB;
  cursor: pointer;
  position: relative;
  padding: 1.5em 5em 1.5em 3em;
}
.faq__q::before {
  content: "Q";
  position: absolute;
  left: 1em;
}
.faq__q::after {
  content: "";
  position: absolute;
  right: 4em;
  top: 50%;
  width: 30px;
  height: 2px;
  background-color: white;
  transform: translateY(-50%);
}
.faq__q span {
  position: absolute;
  right: 4.8em;
  top: 50%;
  width: 3px;
  height: 30px;
  background-color: white;
  transform: translateY(-50%);
  transition: 0.3s;
}
.faq__q.active span {
  opacity: 0;
  transform: translateY(-50%) rotate(90deg);
}
.faq__q:nth-of-type(even) {
  border-top: 1px solid #006DCC;
  border-bottom: 1px solid #006DCC;
}
.faq__a {
  max-width: 1000px;
  margin-inline: auto;
  display: none;
  padding: 1.5em 5em 1.5em 3em;
  position: relative;
}
.faq__a::before {
  content: "A";
  position: absolute;
  left: 1em;
  color: #ff8d8d;
}

.fixed-img {
  width: 100%;
  height: 50vh;
  background-image: url(../img/fixed-img.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: -50px;
  position: relative;
  z-index: 1;
  margin-bottom: -50px;
}

.sponsor {
  background-color: #fcfcfc;
  padding-block: 150px;
  border-radius: 50px 50px 0 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.sponsor .sec__title {
  /* 1. 文字色を白にする */
  color: #ffffff;
  /* 2. 文字の縁取り（外の線）を黒にする */
  /* 指定方法: 太さ 色 */
  -webkit-text-stroke: 1px #000000;
}
.sponsor .sec__title span {
  -webkit-text-stroke: 0;
}
.sponsor__wrapper {
  max-width: 1000px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.footer {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/footer-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer h2 {
  padding-top: 100px;
}
.footer img {
  width: 80px;
}
.footer__wrapper {
  max-width: 800px;
  margin-inline: auto;
}
.footer__wrapper p {
  text-align: center;
  margin-block: 40px;
  font-size: 20px;
}
.footer__innerSNS {
  display: flex;
  justify-content: space-between;
}
.footer__innerSNS li a {
  display: flex;
  align-items: center;
}
.footer__innerSNS li a a {
  display: inline-block;
}
.footer__innerSNS li a p {
  margin-left: 20px;
  font-weight: bold;
}
.footer__innerLINE {
  display: flex;
  justify-content: center;
}
.footer__innerLINE a {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 3px 60px;
  border-radius: 20px;
}
.footer__innerLINE a p {
  padding-right: 100px;
  position: relative;
}
.footer__innerLINE a p::before {
  position: absolute;
  content: "→";
  right: 45px;
  top: 0px;
}
.footer__logo {
  text-align: center;
  margin-block: 80px;
}
.footer__logo img {
  width: 400px;
}
.footer__copy {
  background-color: rgba(0, 0, 0, 0.2);
  padding-block: 2px;
  text-align: center;
}
.footer__copy small {
  color: white;
}/*# sourceMappingURL=style.css.map */