@charset "UTF-8";
.sec__title {
  text-align: center;
  font-family: "Poller One", serif;
  font-size: 2.5rem;
  color: #333333;
  margin-bottom: 120px;
}
.sec__title span {
  display: block;
  font-size: 14px;
  color: #d00;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 800;
}

.main-visual {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url("../img/Gemini_Generated_Image_ejppnqejppnqejpp.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__info {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 30px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
}
.header__info .header__year {
  font-size: 1.25rem;
  font-family: "M PLUS 1", sans-serif;
}
.header__info .header__date {
  display: flex;
  font-size: 1.5rem;
  align-items: baseline;
  gap: 15px;
}
.header__info .header__date span {
  font-size: 1rem;
  margin: 0 4px;
}
.header__info .header__time {
  font-size: 1.5rem;
}
.header__info .header__place {
  font-size: 1.5rem;
  font-family: "M PLUS 1", sans-serif;
}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #b03030;
  border-radius: 2px;
}

.btn-free {
  display: inline-block;
  background-color: #f0e640;
  color: #000;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid #000;
  font-family: "M PLUS 1", sans-serif;
}

.main-program {
  padding: 100px 0;
  background-color: #f0f7ff;
  /*---------------------
    メインイベント
  ---------------------*/
}
.main-program .main-event {
  padding: 100px 0;
  background-color: #f0f7ff;
  overflow: hidden;
}
.main-program .event-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 180px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.main-program .event-item:nth-child(even) {
  flex-direction: row-reverse;
}
.main-program .event-item:nth-child(even) .event-item__img-wrapper {
  margin-left: -80px;
  margin-right: 0;
}
.main-program .event-item__img-wrapper {
  position: relative;
  width: 700px;
  flex-shrink: 0;
  margin-right: -100px;
  z-index: 50;
}
.main-program .event-item__photo {
  position: relative;
  width: 100%;
  border: 10px solid #fff;
  box-shadow: 4px 4px 10px 5px rgba(51, 51, 51, 0.5);
  transform: rotate(2deg);
  z-index: 2;
}
.main-program .event-item__text-wrapper {
  position: relative;
  width: 380px;
  transform: rotate(-2deg);
  z-index: 10;
}
.main-program .event-item:nth-child(even) {
  flex-direction: row-reverse;
}
.main-program .event-item:nth-child(even) .event-item__img-wrapper {
  margin-left: -100px;
  margin-right: 0;
}
.main-program .event-item:nth-child(even) .event-item__img-wrapper .event-item__photo {
  transform: rotate(-2deg);
}
.main-program .event-item:nth-child(even) .event-item__text-wrapper {
  transform: rotate(2deg);
}
.main-program .event-item:nth-child(even) .event-item__text-shadow {
  left: 40px;
}
.main-program .event-item__text-shadow {
  position: absolute;
  top: 20px;
  left: -40px;
  width: 100%;
  height: 100%;
  background: transparent;
  background-image: radial-gradient(#0A215D 4px, transparent 4px);
  background-size: 12px 12px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  z-index: 5;
}
.main-program .event-item__text {
  width: 100%;
  position: relative;
  padding: 100px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  z-index: 10;
}
.main-program .event-item__text-inner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  text-align: left;
}
.main-program .event-item__text-inner h3 {
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 15px;
  font-family: "Chakra Petch", sans-serif;
}
.main-program .event-item__text-inner p {
  font-size: 1rem;
  color: #333333;
  line-height: 1.8;
  margin-bottom: 20px;
  font-family: "Zen Maru Gothic", sans-serif;
}
.main-program .more-btn {
  display: inline-block;
  padding: 5px 20px;
  background-color: #d00;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  font-size: 12px;
  transition: 0.3s;
}
.main-program .more-btn:hover {
  opacity: 0.8;
}
.main-program {
  /*---------------------
    Pick Up イベント
  ---------------------*/
}
.main-program .pick-up {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.main-program .pick-up__deco {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.main-program .pick-up__deco--left {
  width: 800px;
  height: auto;
  bottom: 0;
  right: 50%;
  margin-right: 400px;
  z-index: 3;
}
.main-program .pick-up__deco--right {
  width: 800px;
  height: auto;
  top: 30px;
  right: auto;
  left: 50%;
  margin-left: 400px;
  z-index: 3;
}
.main-program .pick-up__container {
  position: relative;
  z-index: 2;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.main-program .pick-up__container .asirai01 {
  width: 30%;
  background-image: url("../img/asirai-lightblue");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 30;
}
.main-program .pick-up__grid {
  background: #fff;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
  justify-content: center;
  padding: 50px;
  border-radius: 100px;
  margin-top: 100px;
  position: relative;
  z-index: 5;
}
.main-program .pick-up__grid::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #fff;
  background-image: radial-gradient(#eee 2px, transparent 2px);
  background-size: 20px 20px;
  z-index: 1;
}
.main-program .pick-up__item {
  width: calc(50% - 15px);
  background: #fff;
  box-shadow: 4px 4px 10px 5px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 10;
}
.main-program .pick-up__img-wrapper {
  position: relative;
  padding: 15px 15px 0;
}
.main-program .pick-up__img-wrapper img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
}
.main-program .pick-up .label {
  position: absolute;
  top: -30px;
  left: -45px;
  width: 150px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #fff;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 10px;
  font-size: 0.9rem;
  z-index: 5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.main-program .pick-up .label__textblue {
  position: absolute;
  right: 15px;
  bottom: 25px;
}
.main-program .pick-up .label__textorange {
  position: absolute;
  right: 30px;
  bottom: 25px;
}
.main-program .pick-up .label span {
  font-size: 0.8rem;
  font-weight: normal;
}
.main-program .pick-up .label--blue {
  background-color: #329CF8;
}
.main-program .pick-up .label--orange {
  background-color: #FF8737;
}
.main-program .pick-up__content {
  padding: 20px;
}
.main-program .pick-up__content .event-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}
.main-program .pick-up__content .event-name--blue {
  color: #329CF8;
}
.main-program .pick-up__content .event-name--orange {
  color: #FF8737;
}
.main-program .pick-up__content .tag-list {
  display: flex;
  gap: 10px;
  font-size: 10px;
  color: #999;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}
.main-program .pick-up__content .tag-list li {
  white-space: nowrap;
  flex-shrink: 0;
}
.main-program .more-link {
  display: inline-block;
  margin-top: 50px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  position: relative;
  z-index: 2;
  transition: color 0.3s ease, transform 0.3s ease;
}
.main-program .more-link:hover {
  color: #d00;
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */