@use "variables" as *;
.access {
  font-style: normal;
  background-color: $light_blue;
  position: relative;
  padding-block: 160px;
  overflow: hidden;
  padding-inline: 2%;
  font-size: 16px;

  @media (max-width: 768px) {
    padding-block: 80px;
  }

  &__card {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 3%;
    padding-top: clamp(30px, calc(30px + (50 * ((100vw - 360px) / 920))), 80px);
    padding-bottom: clamp(
      40px,
      calc(40px + (120 * ((100vw - 360px) / 920))),
      160px
    );
    position: relative;

    //背景のドット
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      background: #fff;
      background-image: radial-gradient(#eee 2px, transparent 2px);
      background-size: 20px 20px;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 10;

    h3 {
      font-size: clamp(20px, calc(20px + (5 * ((100vw - 360px) / 920))), 25px);
    }
  }

  &__inner {
    max-width: 800px;
    margin-inline: auto;

    li {
      &:nth-of-type(3) {
        margin-top: 90px;
      }
    }
  }

  iframe {
    width: 100%;
    height: clamp(200px, calc(200px + (200 * ((100vw - 360px) / 920))), 400px);
    margin-block: clamp(
      20px,
      calc(20px + (20 * ((100vw - 360px) / 920))),
      40px
    );
  }

  dl {
    font-size: clamp(14px, calc(14px + (2 * ((100vw - 360px) / 920))), 16px);
    font-style: normal;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 500;

    dt {
      position: relative;
      padding-left: 20px;

      &::before {
        position: absolute;
        content: "■";
        left: 0;
        color: #333;
      }
    }

    dd {
      margin-bottom: 15px;
    }

    .route {
      position: relative;
      padding-left: 1.2em;

      &::before {
        position: absolute;
        content: "●";
        left: 0;
        color: #333;
      }
    }
  }

  h2 {
    font-style: normal;
    margin-bottom: clamp(
      30px,
      calc(30px + (30 * ((100vw - 360px) / 920))),
      60px
    );
  }

  h3 {
    font-style: normal;
    margin-bottom: clamp(
      30px,
      calc(30px + (30 * ((100vw - 360px) / 920))),
      60px
    );
  }

  // 下記、あしらい

  //左上
  &__redcorn1 {
    position: absolute;
    top: 4%;
    left: 23%;
    z-index: 2;
    width: clamp(80px, calc(80px + (80 * ((100vw - 360px) / 664))), 160px);
  }
  //右上
  &__ashiraiblue {
    position: absolute;
    z-index: 2;
    top: 5%;
    right: 0;
    width: auto;
    // height: 450px;

    width: clamp(100px, calc(100px + (180 * ((100vw - 360px) / 664))), 280px);
    height: auto;
  }
  &__car1 {
    position: absolute;
    z-index: 2;
    top: 5%;
    right: 10%;
    // width: 280px;

    width: clamp(100px, calc(100px + (180 * ((100vw - 360px) / 664))), 280px);
  }
  &__redcorn2 {
    position: absolute;
    z-index: 2;
    top: 6%;
    right: 10%;
    transform: rotate(-80deg);

    width: clamp(30px, calc(30px + (30 * ((100vw - 360px) / 664))), 60px);
  }
  &__redcorn3 {
    position: absolute;
    z-index: 2;
    top: 10%;
    right: 5%;
    transform: rotate(-10deg);
    width: clamp(50px, calc(50px + (90 * ((100vw - 360px) / 664))), 140px);
  }

  //左下
  &__car2 {
    position: absolute;
    z-index: 3;
    bottom: 2%;
    left: 9%;
    width: clamp(200px, calc(200px + (250 * ((100vw - 360px) / 664))), 450px);
  }
  &__car2parts1 {
    position: absolute;
    z-index: 2;
    bottom: 198px;
    left: 20px;
    opacity: 0.8;
    width: clamp(70px, calc(70px + (70 * ((100vw - 360px) / 664))), 140px);
  }
  &__car2parts2 {
    position: absolute;
    z-index: 2;
    bottom: 8%;
    left: 0%;
    opacity: 0.8;
    width: clamp(90px, calc(90px + (140 * ((100vw - 360px) / 664))), 230px);
  }
  &__car2parts3 {
    position: absolute;
    z-index: 2;
    bottom: 16%;
    left: 3%;
    opacity: 0.8;
    width: clamp(20px, calc(20px + (30 * ((100vw - 360px) / 664))), 50px);
  }

  //右下
  &__people {
    position: absolute;
    z-index: 2;
    bottom: 4%;
    right: 3%;
    width: clamp(80px, calc(80px + (120 * ((100vw - 360px) / 664))), 200px);
  }

  @media (max-width: 1024px) {
    &__redcorn1 {
      top: 120px;
      left: 100px;
    }
  }

  @media (max-width: 768px) {
    //   // ===== 上 =====

    &__redcorn1 {
      top: 49px;
      left: 82px;
    }

    &__ashiraiblue {
      top: 49px;
      right: -5px;
    }

    &__car1 {
      top: 125px;
      right: -10px;
    }

    &__redcorn2 {
      top: 128px;
      right: 7px;
    }

    &__redcorn3 {
      top: 208px;
      right: -7px;
    }

    //   // ===== 下 =====

    &__car2 {
      bottom: -12px;
      left: -25px;
    }

    &__car2parts1 {
      bottom: 64px;
      left: -29px;
    }

    &__car2parts2 {
      bottom: 3%;
      left: -11%;
    }

    &__car2parts3 {
      display: none;
    }

    //   // ===== 右下 =====

    &__people {
      bottom: 30px;
      right: 0px;
    }
  }

  @media (max-width: 500px) {
    &__ashiraiblue {
      top: 65px;
    }

    &__car1 {
      top: 80px;
      right: 14px;
    }
    &__redcorn1 {
      top: 76px;
      left: 30px;
    }

    &__redcorn2 {
      top: 83px;
      right: 9px;
    }

    &__redcorn3 {
      top: 120px;
      right: -8px;
    }

    &__car2 {
      bottom: -12px;
      left: -25px;
    }

    &__car2parts1 {
      display: none;
    }

    &__car2parts2 {
      bottom: 2%;
      left: -11%;
    }

    &__car2parts3 {
      display: none;
    }

    &__people {
      bottom: 13px;
      right: 0px;
    }
  }

  h4 {
    font-style: normal;
    font-size: clamp(18px, calc(18px + (2 * ((100vw - 360px) / 920))), 20px);
  }

  li {
    &:nth-of-type(1) {
      margin-bottom: 100px;
    }
  }
}
