@use 'variables' as *;

.sec__title {
    text-align: center;
    font-family: $h1; // 先ほど設定したフォント
    font-size: 2.5rem;
    color: $black;
    margin-bottom: 120px;
    span {
        display: block;
        font-size: 14px;
        color: #d00;
        font-family: $h2;
        font-weight: 800;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

//SP width:425px
//tab width:768px