@use "variables" as *;
.faq {
  background-color: $base_blue;
  background-image: url(../img/access8.webp);
  background-position: center -10px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 0 0 50px 50px;
  overflow: hidden;
  padding-bottom: 200px;
  position: relative;
  z-index: 2;

  h2 {
    padding-top: clamp(
      100px,
      calc(100px + (300 * ((100vw - 360px) / 920))),
      400px
    );
  }
  //Q

  &__q {
    max-width: 1000px;
    margin-inline: auto;
    background-color: #c6e1fb;
    cursor: pointer;
    position: relative;
    padding: 1.5em 5em 1.5em 3em;

    &::before {
      content: "Q";
      position: absolute;
      left: 1em;
    }

    //＋アイコン（横線）
    &::after {
      content: "";
      position: absolute;
      right: 64px;
      top: 50%;
      width: 30px;
      height: 2px;
      background-color: #ffff;
      transform: translateY(-50%);
      @media (max-width: 768px) {
        right: 50px;
      }

      @media (max-width: 500px) {
        right: 8px;
      }
    }

    //縦線（＋の縦）
    span {
      position: absolute;
      right: 77px;
      top: 50%;
      width: 3px;
      height: 30px;
      background-color: #ffff;
      transform: translateY(-50%);
      transition: 0.3s;

      @media (max-width: 768px) {
        right: 63px;
      }

      @media (max-width: 500px) {
        right: 20px;
      }
    }

    // 開いたら縦線消す → −になる
    &.active span {
      opacity: 0;
      transform: translateY(-50%) rotate(90deg);
    }

    &:nth-of-type(even) {
      border-top: 1px solid #006dcc;
      border-bottom: 1px solid #006dcc;
    }
  }

  //A
  &__a {
    max-width: 1000px;
    margin-inline: auto;
    display: none;
    padding: 1.5em 5em 1.5em 3em;
    position: relative;

    &::before {
      content: "A";
      position: absolute;
      left: 1em;
      color: #ff8d8d;
    }
  }

  position: relative;
  z-index: 1;
  background-color: #fff;
}

.faq {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.fixed-img {
  position: relative;
  z-index: 0;
  height: clamp(360px, calc(360px + ((800 - 360) * ((100vw - 500px) / 780))), 800px);
  margin-top: -120px;
  margin-bottom: -50px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../img/fixed-img.webp");
    background-size: cover;
    background-position: center;
    transform: scale(1.05);
  }
}
