@use "variables" as *;

.footer {
  width: 100%;
  background-image: url(../img/footer-background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; // ← はみ出しカット
  padding-inline: 2%;

  h2 {
    padding-top: clamp(
      60px,
      calc(60px + (40 * ((100vw - 360px) / 920))),
      100px
    );
    margin-bottom: clamp(
      50px,
      calc(50px + (50 * ((100vw - 360px) / 920))),
      100px
    );
    z-index: 5;
    position: relative;
  }

  img {
    width: clamp(50px, calc(50px + (30 * ((100vw - 360px) / 920))), 80px);
  }

  &__wrapper {
    max-width: clamp(320px, 80vw, 800px);
    margin-inline: auto;
    align-items: center;

    h3 {
      z-index: 5;
      margin-bottom: 30px;
      position: relative;
      @media screen and (max-width: 768px) {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    p {
      text-align: center;
      margin-block: 40px;
    }
  }

  &__innerSNS {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 360px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    li {
      display: inline;
      text-align: center;
      margin-right: 1%;
      @media (max-width: 360px) {
        width: 100%;
        display: flex;
        padding-left: 30%;
      }
    }

    li a {
      display: flex;
      align-items: center;
      transition: all 0.25s ease;
      // width: 33%;

      p {
        margin-left: clamp(
          5px,
          calc(5px + (15 * ((100vw - 360px) / 920))),
          20px
        );
        font-weight: bold;
        @media (max-width: 360px) {
          margin-block: 10px;
        }

        &:nth-child(2) {
          display: inline;
        }
      }

      img {
        transition: transform 0.25s ease;
      }

      &:hover {
        transform: translateY(-4px);
        opacity: 0.85;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }

  .line {
    font-weight: 600;
  }

  &__innerLINE {
    display: flex;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      border: 3px solid black;
      padding: clamp(2px, 0.6vw, 6px) clamp(20px, 5vw, 60px);
      border-radius: 20px;
      transition: all 0.3s ease;

      @media (max-width: 425px) {
        margin-inline: 3%;
      }

      p {
        padding-right: 100px;
        font-weight: 550;
        position: relative;
        font-size: clamp(
          14px,
          calc(14px + (2 * ((100vw - 360px) / 920))),
          16px
        );
        margin-block: clamp(
          20px,
          calc(20px + (20 * ((100vw - 360px) / 920))),
          40px
        );

        &::before {
          position: absolute;
          content: "→";
          right: 45px;
          top: 0px;
        }
      }

      &:hover {
        background-color: #3e3e3e;
        color: white;
        transform: translateY(-3px);
      }

      &:hover img {
        filter: invert(1);
      }
    }
  }

  &__logo {
    text-align: center;
    margin-block: clamp(
      20px,
      calc(20px + (60 * ((100vw - 360px) / 920))),
      80px
    );

    a {
      display: inline-block;
      transition: all 0.3s ease;
      cursor: pointer;

      img {
        width: clamp(
          200px,
          calc(200px + (200 * ((100vw - 360px) / 920))),
          400px
        );
      }

      &:hover {
        transform: translateY(-5px) scale(1.05);
        filter: brightness(1.2) drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
      }
    }
  }

  &__copy {
    background-color: rgba(0, 0, 0, 0.2);
    padding-block: 2px;
    text-align: center;

    small {
      color: white;
    }
  }

  &__ashirai {
    .footer-ashirai1 {
      position: absolute;
      top: -100px;
      width: clamp(300px, 50vw, 700px);
      right: 50%;
      margin-right: clamp(100px, 20vw, 500px); // ←ここ調整
    }

    .footer-ashirai2 {
      position: absolute;
      width: clamp(300px, 50vw, 700px);
      bottom: -100px;
      left: 50%;
      margin-left: clamp(100px, 20vw, 600px); // ←ここ調整
    }
  }
}
