@use "variables" as *;

// タブメニュー
#pickup-event {
  .tab {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: clamp(
      400px,
      calc(400px + ((1000 - 400) * ((100vw - 500px) / 780))),
      1000px
    );
    margin: 0 auto;
    padding: 0;
    list-style: none;

    li {
      flex: 1 1 0;
      min-width: 0;
      border: 1px solid #3333;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: clamp(
          44px,
          calc(44px + ((64 - 44) * ((100vw - 500px) / 780))),
          64px
        );
        padding: clamp(
          6px,
          calc(6px + ((10 - 6) * ((100vw - 500px) / 780))),
          10px
        );
        background: #ddd;
        text-align: center;
        line-height: 1.35;
        font-size: clamp(
          10px,
          calc(10px + ((16 - 10) * ((100vw - 500px) / 780))),
          16px
        );
      }

      &.active {
        a {
          background: #fff;
        }
      }
    }
  }

  .area {
    display: none;
    opacity: 0;
    padding: 50px 20px;

    &.is-active {
      display: block;
      animation-name: displayAnime;
      animation-duration: 0.6s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//pu共通

.pu {
  overflow-x: hidden;

  @media (max-width: 768px) {
    padding-inline: 2%;
  }
  @media (max-width: 500px) {
    br {
      display: none;
    }
  }

  img {
    object-fit: cover;
    vertical-align: bottom;
  }

  .sec__title2 {
    font-family: $h1; // 先ほど設定したフォント
    font-size: 2.5rem;
    color: $black;
    text-align: left;
    margin-bottom: 80px;
    margin-left: 200px;
    position: relative;

    .dot {
      position: absolute;
      top: -10px;
      left: 0;
      width: 10px;
      height: 10px;
      background: #d11a1b;
      border-radius: 50%;

      animation: moveDot 2.5s infinite linear;
    }

    @media screen and (max-width: 1024px) {
      margin-left: 100px;
    }

    @media screen and (max-width: 768px) {
      margin-left: 40px;
    }

    @media screen and (max-width: 500px) {
      margin-left: 10px;
    }
  }

  @keyframes moveDot {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(60px, -25px);
    }
    40% {
      transform: translate(120px, -5px);
    }
    60% {
      transform: translate(180px, -30px);
    }
    80% {
      transform: translate(240px, -10px);
    }
    100% {
      transform: translate(300px, 0);
    }
  }

  &__gokan {
    img {
      width: 340px;
    }
  }

  &__wrapper {
    max-width: clamp(
      400px,
      calc(400px + (600 * ((100vw - 360px) / 920))),
      1000px
    );
    margin-inline: auto;
    border-radius: 40px;
    position: relative;
    z-index: 5;
    margin-bottom: clamp(
      80px,
      calc(80px + (170 * ((100vw - 360px) / 920))),
      250px
    );
    padding-inline: 2%;
    padding-bottom: 60px;

    .pu__gokan-wrapper {
      position: absolute;
      inset: 0; // top, right, bottom, left: 0 を一括指定
      overflow: hidden;
      border-top-left-radius: 30px; // 親の角丸と合わせる
      pointer-events: none; // クリック透過
      z-index: 10;

      // マスクの中にある「やすらぐ」本体
      .pu__gokan {
        position: absolute;
        top: -27px;
        left: -16px;
        scale: 0.9;

        img {
          display: block;
        }
      }
    }
  }

  &__inner {
    max-width: 1000px;
    margin-inline: auto;
    padding-top: 170px;
    padding-bottom: 100px;
    padding-inline: 3%;

    @media screen and (max-width: 768px) {
      padding-top: 130px;
      padding-bottom: 70px;
    }

    @media screen and (max-width: 500px) {
      padding-top: 100px;
      padding-bottom: 70px;
    }

    .inner-img {
      display: block;
      margin-block: 10px;
      flex-shrink: 0;
    }

    .pu3-5text {
      margin-block: 25px;
      font-size: 20px;

      @media screen and (max-width: 768px) {
        font-size: 15.5px;
        margin-block: 10px;
        padding-bottom: 10px;
      }
    }
  }

  h3 {
    font-family: "M PLUS 1p", sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #f8ff6c;
    -webkit-text-stroke: 1px #909090;

    @media screen and (max-width: 768px) {
      font-size: 35px;
    }

    @media screen and (max-width: 500px) {
      font-size: 26px;
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 100px;
  }

  .h3-content {
    color: white;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 20px;

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }

    @media screen and (max-width: 500px) {
      font-size: 15px;
    }
  }

  &__gokan {
    position: absolute;
    z-index: 10;
    left: 0px;
    img {
      border-radius: 30px;

      @media screen and (max-width: 1024px) {
        width: 300px;
      }

      @media screen and (max-width: 768px) {
        width: 250px;
      }

      @media screen and (max-width: 500px) {
        width: 180px;
      }
    }
  }

  &__kids {
    position: absolute;
    z-index: 10;
    right: -160px;
    top: -82px;

    img {
      width: clamp(250px, calc(250px + (150 * ((100vw - 360px) / 920))), 400px);
      display: block;
    }

    @media screen and (max-width: 1024px) {
      right: -75px;
      top: -20px;
    }

    @media screen and (max-width: 768px) {
      right: -100px;
      top: -40px;
    }

    @media screen and (max-width: 500px) {
      right: -50px;
      top: -40px;
    }
  }

  &__info {
    position: relative;
  }
  &__infocontent {
    background-color: white;
    border-radius: 30px;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 20px;
    padding: 30px 40px;
    margin-top: 30px;

    dt {
      float: left;
    }
    dd {
      margin-left: 10px;
    }

    @media screen and (max-width: 768px) {
      font-size: 16px;
    }

    @media screen and (max-width: 500px) {
      font-size: 13px;
    }
  }

  &__slider__items {
    height: 100%;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;

    img {
      width: 100%;
    }

    li {
      height: auto;
      margin-right: 10px;
      margin-left: 10px;
      margin-block: 50px;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }

    .slick-dots {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

//pu-治部坂平谷共通イベント
.pu-botharea {
  position: relative;
  scroll-margin-top: 130px;

  .pu__wrapper {
    background: #e5ffb8;
  }

  p {
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    flex: 1;
  }

  .h3-content {
    color: #333;
  }
  &__content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(16px, calc(16px + (16 * ((100vw - 500px) / 780))), 32px);

    img {
      width: clamp(280px, calc(280px + (240 * ((100vw - 500px) / 780))), 520px);
    }
  }

  &__content2 {
    position: relative; /* 擬似要素を配置する基準点 */
    width: 100%;
    display: inline-block;
    padding: 10px 0; /* 上下の線の間隔（パディング）を確保 */

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px; /* 線の太さ */
      background-color: white; /* 線の色 */
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px; /* 線の太さ */
      background-color: white; /* 線の色 */
    }

    .icon {
      display: flex;
      gap: clamp(10px, calc(10px + (70 * ((100vw - 500px) / 760))), 80px);
      padding-bottom: 40px;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-bottom: 0px;

      .icon-img {
        width: 30%;
        img {
          width: 100%;
        }
      }

      .pu__contenttext {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        font-family: "Zen Maru Gothic", sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        width: 70%;

        .blue {
          color: #3777e4;
          font-weight: bold;
        }

        .contenttext-pc {
          display: block;
          @media screen and (max-width: 500px) {
            display: none;
          }
          p {
            margin-bottom: clamp(
              0px,
              calc(0px + (10 * ((100vw - 768px) / 492))),
              10px
            );
          }
        }
        .contenttext-sp {
          display: none;
          @media screen and (max-width: 500px) {
            display: block;
          }
        }
      }
    }
  }

  .pu__infocontent {
    .info_sched {
      text-align: center;
      width: fit-content;
      margin-inline: auto;
      border: 1px solid #3777e4;
      border-radius: 10px;
      padding-inline: 16%;
      background-color: #3777e4;
      color: white;
    }
    p {
      margin-block: 10px;
    }
    span {
      color: #3777e4;
      font-weight: 550;
    }
    br {
      display: inline;
    }
  }
  .pu__infosticker {
    &_1 {
      position: absolute;
      top: -150px;
      left: -300px;

      @media screen and (max-width: 1024px) {
        width: 250px;
        left: -80px;
      }

      @media screen and (max-width: 768px) {
        width: 200px;
        left: -80px;
        top: -100px;
      }

      @media screen and (max-width: 500px) {
        width: 160px;
        left: -40px;
        top: -90px;
      }
    }

    &_2 {
      position: absolute;
      top: 40px;
      right: -20px;

      img {
        width: 200px;
      }

      @media screen and (max-width: 1024px) {
        width: 150px;
        right: 0px;
        top: 100px;
      }

      @media screen and (max-width: 768px) {
        width: 130px;
        right: 0px;
        top: 60px;
      }
      &_1 {
        @media screen and (max-width: 500px) {
          display: none;
        }
      }
    }

    &_3 {
      position: absolute;
      bottom: -70px;
      right: -80px;
      width: 160px;
      z-index: 1;

      @media screen and (max-width: 1024px) {
        bottom: -80px;
        right: -50px;
      }

      @media screen and (max-width: 768px) {
        bottom: -60px;
        right: -50px;
      }
      @media screen and (max-width: 500px) {
        width: 100px;
        bottom: -20px;
        right: -30px;
      }
    }

    &_4 {
      position: absolute;
      bottom: -50px;
      right: 100px;
      width: 400px;

      @media screen and (max-width: 768px) {
        width: 300px;
      }

      @media screen and (max-width: 500px) {
        width: 250px;
        bottom: -50px;
        right: 0px;
      }
    }
  }
}

//治部坂会場
#pu-jibuzaka {
  .pu__wrapper {
    background: #ff9e5e;
  }
}
.pu-eventarea {
  position: relative;
  scroll-margin-top: 130px;

  h3 {
    padding-top: clamp(
      130px,
      calc(130px + ((170 - 130) * ((100vw - 500px) / 780))),
      170px
    );
  }

  p {
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    flex: 1;
  }

  .pu-img {
    text-align: center;
    padding-block: 30px;
    img {
      width: clamp(280px, calc(280px + (240 * ((100vw - 500px) / 780))), 520px);
    }
  }

  &__icon {
    position: relative;
    width: 100%;
    padding: 10px 0;
    display: flex;
    gap: clamp(10px, 10px + 70 * (100vw - 500px) / 760, 80px);
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px; /* 線の太さ */
      background-color: white; /* 線の色 */
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px; /* 線の太さ */
      background-color: white; /* 線の色 */
    }

    .icon-img {
      width: 30%;
      img {
        width: 100%;
      }
    }

    .icon-text {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      font-family: "Zen Maru Gothic", sans-serif;
      font-size: 20px;
      letter-spacing: 1px;
      width: 70%;

      .icontext-blue {
        color: #3777e4;
        font-weight: bold;
        font-size: 1.4rem;
      }
    }
  }

  .pu__infocontent {
    .info_sched {
      text-align: center;
      width: fit-content;
      margin-inline: auto;
      border: 1px solid #3777e4;
      border-radius: 10px;
      padding-inline: 16%;
      background-color: #3777e4;
      color: white;
      font-size: 1.2rem;
    }
    p {
      margin-block: 10px;
    }
    span {
      color: #3777e4;
      font-weight: 550;
    }
    br {
      display: inline;
    }
  }
  .pu__infosticker {
    &_1 {
      position: absolute;
      top: -150px;
      left: -300px;

      @media screen and (max-width: 1024px) {
        width: 250px;
        left: -80px;
      }

      @media screen and (max-width: 768px) {
        width: 200px;
        left: -80px;
        top: -100px;
      }

      @media screen and (max-width: 500px) {
        width: 160px;
        left: -40px;
        top: -90px;
      }
    }

    &_2 {
      position: absolute;
      top: 40px;
      right: -20px;

      img {
        width: 200px;
      }

      @media screen and (max-width: 1024px) {
        width: 150px;
        right: 0px;
        top: 100px;
      }

      @media screen and (max-width: 768px) {
        width: 130px;
        right: 0px;
        top: 60px;
      }
      &_1 {
        @media screen and (max-width: 500px) {
          display: none;
        }
      }
    }

    &_3 {
      position: absolute;
      bottom: -70px;
      right: -80px;
      width: 160px;
      z-index: 1;

      @media screen and (max-width: 1024px) {
        bottom: -80px;
        right: -50px;
      }

      @media screen and (max-width: 768px) {
        bottom: -60px;
        right: -50px;
      }
      @media screen and (max-width: 500px) {
        width: 100px;
        bottom: -20px;
        right: -30px;
      }
    }

    &_4 {
      position: absolute;
      bottom: -50px;
      right: 100px;
      width: 400px;

      @media screen and (max-width: 768px) {
        width: 300px;
      }

      @media screen and (max-width: 500px) {
        width: 250px;
        bottom: -50px;
        right: 0px;
      }
    }
  }
}

#pu-hiraya {
  .pu__wrapper {
    background: #b9e5ff;
  }
}
