@use "variables" as *;
.sponsor {
  background-color: #fcfcfc;
  padding-block: clamp(
    30px,
    calc(30px + (120 * ((100vw - 360px) / 920))),
    150px
  );
  border-radius: 50px 50px 0 0;
  overflow: hidden;
  position: relative;
  z-index: 2;

  .sec__title {
    /* 1. 文字色を白にする */
    color: #ffffff;

    /* 2. 文字の縁取り（外の線）を黒にする */
    /* 指定方法: 太さ 色 */
    -webkit-text-stroke: 1px #000000;

    span {
      -webkit-text-stroke: 0;
    }
  }
  &__wrapper {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: clamp(16px, 4vw, 40px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    justify-items: center;

    @media screen and (max-width: 768px) {
      gap: 20px;
    }

    img {
      width: clamp(100px, calc(100px + (180 * ((100vw - 360px) / 920))), 280px);
    }
  }
}
