//フォント
$h1: "Poller One", serif;  // 大見出し、英字フォント
$h2: "M PLUS 1", sans-serif;  // 中見出し、日本語フォント
$h3: "Chakra Petch", sans-serif;  // メカニカル
$text: "Zen Maru Gothic", sans-serif;  // 本文

//カラー
$black: #333333;
$blue: #329CF8;
$light_blue: #A2D4FF;
$base: #EDF4FB; 
$orange: #FFBB8D;
$accent_orange: #FF8737;
$base_blue: #EDF4FB;
$red: #d00;


$shadow: 4px 4px 10px 5px rgba(51, 51, 51, 0.5);